<header class="masthead">
  <div class="wrapper gutter pad-t-1-2 pad-b-1-2">
    <a class="logo-wrap" href="/">
      {% if page.url == '/' %}
      <h1 class="logo tera push-0">
        <span class="names">Barrett Robillard</span>
        <span class="title kilo">Game Library</span>
      </h1>
      {% else %}
      <strong class="logo tera block">
        <span class="names">Barrett Robillard</span>
        <span class="title kilo">Game Library</span>
      </strong>
      {% endif %}
    </a>
  </div>
</header>